<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Polling</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/votePollPage.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>

  <nav id="nav">
    <span id="logo">Schoodle</span>
  </nav>

  <% if (event) { %>

    <% const detailsArr=Object.values(event[0]) %>
      <% let title=detailsArr[5] %>
        <% let desc=detailsArr[6] %>
          <% let name=detailsArr[2] %>
            <% let url=detailsArr[7] %>

              <section>
                <article class="share-event">
                  <h3>Invite Participants</h3>
                  <span>Copy the Url below to share!</span>
                  <form>
                    <input value="http://localhost:8080/vote/<%= url %>" id="url-link" />
                    <button id="copy">Copy</button>
                  </form>
                </article>
              </section>

              <section class="poll-area">
                <article class="poll-container">
                  <form id="vote-form">
                    <header class="event-info">
                      <div>
                        <%= title %>
                      </div>
                      <div> By: <%= name %>
                      </div>
                      <div>
                        <%= desc %>
                      </div>
                    </header>
                    <% }; %>

                      <div>
                        <input type="text" id="voter-name" value="<%= name %>" name="name" placeholder="Name">
                      </div>

                      <div>
                        <input type="text" id="voter-email" value="<%= email %>" name="email"
                          placeholder="example@mail.com">
                      </div>

                      <% Object.keys(formattedEvent.times).forEach((timeId, i)=> { %>
                        <% const time=formattedEvent.times[timeId]; %>

                          <div>
                            <input type="radio" id="opt-<%=i+1%>a" name="vote-poll-<%=i+1%>"
                              value="<%= timeId %>, true">Yes</input>
                            <input type="radio" id="opt-<%=i+1%>b" name="vote-poll-<%=i+1%>"
                              value="<%= timeId %>, false">No</input>
                            <label for="opt-<%=i+1%>" ">
                          <%= time.startDate %> -
                            <br>
                            <%= time.endDate %>
                        </label>
                      </div>
                    <% }) %>
                                      <div>
                                        <button type=" submit">Vote!</button>
                          </div>
                  </form>
                </article>
              </section>

              <section>
                <table>
                  <tr>
                    <th>Date</th>
                    <th>Yes - Lets GO!</th>
                    <th>Nope - Not Down</th>
                  </tr>
                  <% console.log(formattedEvent) %>
                    <% Object.keys(formattedEvent.times).forEach((timeId, i)=> { %>
                      <% const time=formattedEvent.times[timeId]; %>

                        <% const yesVotes=time.votes.filter(vote=> vote.vote) %>
                          <% const noVotes=time.votes.filter(vote=> !vote.vote) %>
                            <tr>
                              <td>
                                <%= time.startDate %> - <%= time.endDate %>
                              </td>
                              <td>
                                <%= yesVotes.length %>
                              </td>
                              <td>
                                <%= noVotes.length %>
                              </td>
                            </tr>

                            <% }) %>

                </table>
              </section>

</body>

</html>
