<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Polling</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- External Fonts -->

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/votePollPage.css" type="text/css" />

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>


  <nav id="nav">
    <span id="logo">Schoodle</span>
    <i class="far fa-calendar-plus"></i>
  </nav>


  <% if (event) { %>

    <% const detailsArr = Object.values(event[0]) %>
    <% let title = detailsArr[5] %>
    <% let desc = detailsArr[6] %>
    <% let name = detailsArr[2] %>
    <% let url = detailsArr[7] %>


  <section>
    <article class="share-event">
      <h3>Invite Participants</h3>
      <span>Copy the Url below to share!</span>
      <form>
        <input value="http://localhost:8080/vote/<%= url %>"  id="url-link" />
        <button id="copy">Copy</button>
      </form>
    </article>
  </section>


  <section>
    <article>
      <form id="user-email-poll-form">
        <div>
          <input id="voter-name" type="name" name="name" placeholder="Name">
        </div>
        <div>
          <input id="voter-email" type="email" name="email" placeholder="example@mail.com">
        </div>
        <button id="grab-event-button" type="submit">Get Poll</button>
      </form>
    </article>
  </section>


  <section>
    <form id="vote-form">

      <div class="poll-area">
        <header class="event-info">
              <div> <%= title %> </div>
              <div> By: <%= name %> </div>
              <div> <%= desc %> </div>
        </header>
        <% }; %>

        <div class="poll-container">

          <% let startDates = [] %>
          <% let endDates = [] %>
          <% let allTimeId = [] %>

          <% event.forEach(data => { %>
            <% allTimeId.push((Object.values(data)[8])) %>
            <% startDates.push((Object.values(data)[9])) %>
            <% endDates.push((Object.values(data)[10])) %>
            <% }); %>

            <div>
              <input type="radio" id="opt-1" name="vote-poll" value="<%= allTimeId[0] %>">
              <label for="opt-1">
                <%= startDates[0] %> -
                <br>
                <%= endDates[0] %></label>
            </div>

            <div>
              <input type="radio" id="opt-2" name="vote-poll" value="<%= allTimeId[1] %>">
              <label for="opt-2">
                <%= startDates[1] %> -
                <br>
                <%= endDates[1] %></label>
            </div>

            <div>
              <input type="radio" id="opt-3" name="vote-poll" value="<%= allTimeId[2] %>">
              <label for="opt-3">
                <%= startDates[2] %> -
                <br>
                <%= endDates[2] %></label>
            </div>

            <!-- <div>
              <input type="radio" name="vote-poll" id="opt-4">
              <label for="opt-1">
                <%= startDates[0] %> -
                <br>
                <%= endDates[0] %></label>
            </div> -->

        </div>
        <button type="submit">Vote!</button>
      </div>

    </form>
  </section>


</body>
</html>
