<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>Polling</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/votePollPage.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- External JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <span id="logo" class="navbar-brand mb-0 h1">Schoodle</span>
  </nav>


  <section class="container mt-4">
    <article class="event-container">
      <% if (event) { %>
        <% const detailsArr=Object.values(event[0]) %>
          <% let title=detailsArr[5] %>
            <% let name=detailsArr[2] %>
              <% let desc=detailsArr[6] %>
                <div class="row poll-header">
                  <div class="col-8 mt-1 mb-3">Poll Title: <%= title %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8 mt-3 event-input font-overlay">Poll Created By: <%= name %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8 mt-3 event-input font-overlay">Event Description: <%= desc %>
                  </div>
                </div>
                <% }; %>
    </article>
  </section>


  <section class="container mt-4">
    <article class="event-container">
      <div class="row vote-poll-header">
        <div class="col-8 mt-1 mb-3">Voter Information</div>
      </div>
      <div class="row align-items-center">
        <div class="col-2 text-center mt-1 poll-voter-info font-overlay">Name</div>
        <input class="col-8 mt-1" type="text" id="voter-name" value="<%= name %>" name="name">
      </div>
      <div class="row align-items-center">
        <div class="col-2 text-center mt-1 poll-voter-info font-overlay">Email</div>
        <input class="col-8 mt-1" type="text" id="voter-email" value="<%= email %>" name="owner_email">
      </div>
    </article>
  </section>

  <% Object.keys(formattedEvent.times).forEach((timeId, i)=> { %>
    <% const time=formattedEvent.times[timeId]; %>

      <div class="voter-section">
        <label for="opt-<%=i+1%>" ">
                              <%= time.startDate %> -
                              <br>
                              <%= time.endDate %>
                            </label>
                            <input type=" radio" id="opt-<%=i+1%>a" name="vote-poll-<%=i+1%>"
          value="<%= timeId %>, true">Yes</input>
          <input type="radio" id="opt-<%=i+1%>b" name="vote-poll-<%=i+1%>" value="<%= timeId %>, false">No</input>
      </div>
      <% }) %>
        <div id="vote-button-style">
          <button class="btn-outline-dark" type=" submit">Vote!</button>
        </div>
        </form>
        </article>
        </section>

        <section>
          <table>
            <tr>
              <th>Date</th>
              <th>Yes - Lets GO!</th>
              <th>Nope - Not Down</th>
            </tr>
            <% console.log(formattedEvent) %>
              <% Object.keys(formattedEvent.times).forEach((timeId, i)=> { %>
                <% const time=formattedEvent.times[timeId]; %>

                  <% const yesVotes=time.votes.filter(vote=> vote.vote) %>
                    <% const noVotes=time.votes.filter(vote=> !vote.vote) %>
                      <tr>
                        <td>
                          <%= time.startDate %> - <%= time.endDate %>
                        </td>
                        <td>
                          <%= yesVotes.length %>
                        </td>
                        <td>
                          <%= noVotes.length %>
                        </td>
                      </tr>

                      <% }) %>

          </table>
        </section>

</body>

</html>
